<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arjan Dhillon</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('header') %>
  <h1>Arjan Dhillon</h1>
  <p>Arjan Dhillon is my current favourite singer, but his music of all songs seems to be same and repetitive.</p>
</body>
</html>
