<!-- header.ejs -->
<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/arjan">Arjan Dhillon</a></li>
        <li><a href="/karan">Karan Aujla</a></li>
        <li><a href="/sidhu">Sidhu Moosewala</a></li>
        <li><a href="/ms_pooja">Miss Pooja</a></li>
      </ul>
    </nav>
  </header>
  