<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Karan Aujla</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('header') %>
  <h1>Karan Aujla</h1>
  <p>Karan Aujla is one of the most influential singers in the punjabi music industry rignt now.</p>
</body>
</html>
