<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ms Pooja</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('header') %>
  <h1>Ms Pooja</h1>
  <p>Miss Pooja was the most famous female punjabi singer during my paremt's childhood.</p>
</body>
</html>
