<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidhu Moosewala</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('header') %>
  <h1>Sidhu Moosewala</h1>
  <p>Sidhu Moosewala is a legend and his songs will always be in my heart forever.</p>
</body>
</html>
